@use '@angular/material' as mat;
@use './app/navbar/navbar.component.theme.scss' as navbar;
@use './app/banner/banner.component.theme.scss' as banner;
@use './app/footer/footer.component.theme.scss' as footer;
@use './app/about/about.component.theme.scss' as about;

@include mat.core();

$dark-ide-primary: mat.define-palette(mat.$blue-palette, 700, 500, 900);
$dark-ide-accent: mat.define-palette(mat.$purple-palette);
$dark-ide-warn: mat.define-palette(mat.$red-palette);

$light-ide-primary: mat.define-palette(mat.$indigo-palette, 700, 500, 900);
$light-ide-accent: mat.define-palette(mat.$pink-palette, 600, 400, 800);
$light-ide-warn: mat.define-palette(mat.$red-palette);

$terminal-primary: mat.define-palette(mat.$green-palette, 800, 600, 900);
$terminal-accent: mat.define-palette(mat.$teal-palette, 'A400', 'A200', 'A700');
$terminal-warn: mat.define-palette(mat.$red-palette);

$dark-ide-theme: mat.define-dark-theme((color: (primary: $dark-ide-primary,
        accent: $dark-ide-accent,
        warn: $dark-ide-warn )));

$light-ide-theme: mat.define-light-theme((color: (primary: $light-ide-primary,
        accent: $light-ide-accent,
        warn: $light-ide-warn )));

$terminal-theme: mat.define-dark-theme((color: (primary: $terminal-primary,
        accent: $terminal-accent,
        warn: $terminal-warn )));

.dark-ide-theme {
  @include mat.all-component-themes($dark-ide-theme);
  @include navbar.theme($dark-ide-theme);
  @include footer.theme($dark-ide-theme);
  @include about.theme($dark-ide-theme);
  @include banner.theme($dark-ide-theme, $isDarkTheme: true);
}

.light-ide-theme {
  @include mat.all-component-themes($light-ide-theme);
  @include navbar.theme($light-ide-theme);
  @include footer.theme($light-ide-theme);
  @include about.theme($light-ide-theme);
  @include banner.theme($light-ide-theme, $isDarkTheme: false);
}

.terminal-theme {
  @include mat.all-component-themes($terminal-theme);
  @include navbar.theme($terminal-theme);
  @include footer.theme($terminal-theme);
  @include about.theme($terminal-theme);
  @include banner.theme($terminal-theme, $isDarkTheme: true);
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}