<section #parallaxContainer class="tech-stack-parallax-container">
  <div class="section-title">
    <mat-icon fontIcon="handyman" class="icon"></mat-icon>
    <span>{{localizationService.localize('technologies')}}</span>
  </div>
  <div class="flex-container">
    @for (card of techStack | keyvalue; track card) {
      <mat-card class="card" [class.show]="areCardsVisible">
        <mat-card-header>
          <mat-card-title class="card-title">{{localizationService.localize(card.key)}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          @for (item of card.value | keyvalue; track item) {
            <div class="stack-item">
              <div class="stack-item-logo">@if (item.value) {
                <img src="../../assets/tech-stack/logos/{{item.value}}" />
              }</div>
              <div class="stack-item-title">{{item.key}}</div>
            </div>
          }
        </mat-card-content>
      </mat-card>
    }
  </div>
</section>