@use "sass:map";
@use "@angular/material" as mat;
@use "../../utils/styles/color-utils.scss" as color-utils;

@mixin color($color-config) {

    $primary-palette: map.get($color-config, 'primary');

    .tech-stack-parallax-container {
        @media print {
            $color: mat.m2-get-color-from-palette($primary-palette, darker);

            .section-title {
                color: $color;
                span {
                    border-bottom: solid 2px $color;
                }
            }
        }
    }
}

@mixin typography($typography-config) {
    .tech-stack-parallax-container {
        font-family: mat.m2-font-family($typography-config);
    }
}

@mixin theme($theme) {
    $color-config: mat.m2-get-color-config($theme);

    @if $color-config !=null {
        @include color($color-config);
    }

    $typography-config: mat.m2-get-typography-config($theme);

    @if $typography-config !=null {
        @include typography($typography-config);
    }
}