<section class="tech-stack-container">
  <div class="card-container">
    <div class="title-bar">
      <div class="title">
        <span>{{localizationService.localize('technologies')}}</span>
      </div>
      <div class="search">
        <mat-checkbox class="group-checkbox" [(ngModel)]="groupItems">{{localizationService.localize('groupItems')}}</mat-checkbox>
        <mat-form-field class="searchbar" appearance="outline">
          <mat-label>{{localizationService.localize('search')}}</mat-label>
          <input matInput placeholder="{{localizationService.localize('searchKeyword')}}" [(ngModel)]="filterText"
            (ngModelChange)="onFilterTextChange()" />
        </mat-form-field>
      </div>
    </div>
    <div class="group-container">
      @if (!groupItems){
      <div class="group">
        @for (tool of filteredTools; track tool.name) {
        <mat-card class="card">
          <mat-card-content>
            <div class="card-logo">
              @if (tool.logo) {
              <img src="../../assets/tech-stack/logos/{{tool.logo}}" />
              }
              @else {
              <mat-icon fontIcon="code" class="icon"></mat-icon>
              }
            </div>
          </mat-card-content>
          <mat-card-header>
            <mat-card-title class="card-title">{{localizationService.localize(tool.name)}}</mat-card-title>
          </mat-card-header>
        </mat-card>
        }
      </div>
      }
      @else{
      @for (group of groupedTools | keyvalue; track group.key) {
        <div class="group">
          <div class="group-title">
            <span>{{localizationService.localize(categories[group.key].name)}}</span>
          </div>
          @for (tool of group.value; track tool.name) {
          <mat-card class="card">
            <mat-card-content>
              <div class="card-logo">
                @if (tool.logo) {
                <img src="../../assets/tech-stack/logos/{{tool.logo}}" />
                }
                @else {
                <mat-icon fontIcon="code" class="icon"></mat-icon>
                }
              </div>
            </mat-card-content>
            <mat-card-header>
              <mat-card-title class="card-title">{{localizationService.localize(tool.name)}}</mat-card-title>
            </mat-card-header>
          </mat-card>
          }
        </div>
      }
      }
    </div>
  </div>
</section>