@use "sass:map";
@use "@angular/material" as mat;
@use "../../utils/styles/color-utils.scss" as color-utils;

@mixin color($color-config, $isDarkTheme: false) {

    $accent-palette: map.get($color-config, 'accent');

    $card-color: lighten(mat.m2-get-color-from-palette($accent-palette, 300), 5%);
    $border-color: mat.m2-get-color-from-palette($accent-palette, 400);
    $text-color: color-utils.get-text-color-on-background($card-color);

    @if $isDarkTheme {
        $card-color: darken(mat.m2-get-color-from-palette($accent-palette, 800), 5%);
        $border-color: lighten(mat.m2-get-color-from-palette($accent-palette, 300), 5%);
        $text-color: color-utils.get-text-color-on-background($card-color);
    }

    .tech-stack-container {
        .card-container {
            .group-container {
                .group {
                    .card {
                        background: linear-gradient(180deg,
                                rgba(red($card-color),
                                    green($card-color),
                                    blue($card-color),
                                    0.9),
                                rgba(red($card-color),
                                    green($card-color),
                                    blue($card-color),
                                    0.75));
                        border: 1px solid $border-color;
                    }
                }
            }
        }
    }
}

@mixin typography($typography-config) {
    .tech-stack-parallax-container {
        font-family: mat.m2-font-family($typography-config);
    }
}

@mixin theme($theme, $isDarkTheme: false) {
    $color-config: mat.m2-get-color-config($theme);

    @if $color-config !=null {
        @include color($color-config, $isDarkTheme);
    }

    $typography-config: mat.m2-get-typography-config($theme);

    @if $typography-config !=null {
        @include typography($typography-config);
    }
}