.print-contacts-container {
    @media screen {
        display: none;
    }

    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
    margin-bottom: 16px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    print-color-adjust: exact;


    .contact {
        padding: 15px;
        display: flex;
        align-items: center;

        mat-icon {
            font-size: 22px;
            width: 22px;
            height: 22px;
        }

        .value {
            font-size: 16px;
            font-weight: bold;
            margin-left: 5px;
        }
    }
}