<div class="experience-container">
    <div class="job-history">
        <div class="card">
            <div class="card-content">
                <div class="card-content-logo">
                    <img src="../../assets/contoso.png" />
                </div>
                <div class="card-content-header">
                    <div class="card-content-position">Software Developer</div>
                    <div class="card-content-company">Contoso Corporation</div>
                    <div class="card-content-period">February 2021 - August 2022</div>
                </div>
                <div class="card-content-description">
                    Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea
                    mazim
                    fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis
                    ea
                    eam.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <div class="card-content-logo">
                    <img src="../../assets/contoso.png" />
                </div>
                <div class="card-content-header">
                    <div class="card-content-position">Software Developer</div>
                    <div class="card-content-company">Contoso Corporation</div>
                    <div class="card-content-period">February 2021 - August 2022</div>
                </div>
                <div class="card-content-description">
                    Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea
                    mazim
                    fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis
                    ea
                    eam.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <div class="card-content-logo">
                    <img src="../../assets/contoso.png" />
                </div>
                <div class="card-content-header">
                    <div class="card-content-position">Software Developer</div>
                    <div class="card-content-company">Contoso Corporation</div>
                    <div class="card-content-period">February 2021 - August 2022</div>
                </div>
                <div class="card-content-description">
                    Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea
                    mazim
                    fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis
                    ea
                    eam.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <div class="card-content-logo">
                    <img src="../../assets/contoso.png" />
                </div>
                <div class="card-content-header">
                    <div class="card-content-position">Software Developer</div>
                    <div class="card-content-company">Contoso Corporation</div>
                    <div class="card-content-period">February 2021 - August 2022</div>
                </div>
                <div class="card-content-description">
                    Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea
                    mazim
                    fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis
                    ea
                    eam.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <div class="card-content-logo">
                    <img src="../../assets/contoso.png" />
                </div>
                <div class="card-content-header">
                    <div class="card-content-position">Software Developer</div>
                    <div class="card-content-company">Contoso Corporation</div>
                    <div class="card-content-period">February 2021 - August 2022</div>
                </div>
                <div class="card-content-description">
                    Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea
                    mazim
                    fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis
                    ea
                    eam.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <div class="card-content-logo">
                    <img src="../../assets/contoso.png" />
                </div>
                <div class="card-content-header">
                    <div class="card-content-position">Software Developer</div>
                    <div class="card-content-company">Contoso Corporation</div>
                    <div class="card-content-period">February 2021 - August 2022</div>
                </div>
                <div class="card-content-description">
                    Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea
                    mazim
                    fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis
                    ea
                    eam.
                </div>
            </div>
        </div>
    </div>
    <div class="education-history">
        <div class="card">
            <div class="card-content">
                <div class="card-content-logo">
                    <img src="../../assets/contoso.png" />
                </div>
                <div class="card-content-header">
                    <div class="card-content-position">Software Developer</div>
                    <div class="card-content-company">Contoso Corporation</div>
                    <div class="card-content-period">February 2021 - August 2022</div>
                </div>
                <div class="card-content-description">
                    Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea
                    mazim
                    fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis
                    ea
                    eam.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <div class="card-content-logo">
                    <img src="../../assets/contoso.png" />
                </div>
                <div class="card-content-header">
                    <div class="card-content-position">Software Developer</div>
                    <div class="card-content-company">Contoso Corporation</div>
                    <div class="card-content-period">February 2021 - August 2022</div>
                </div>
                <div class="card-content-description">
                    Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea
                    mazim
                    fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis
                    ea
                    eam.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <div class="card-content-logo">
                    <img src="../../assets/contoso.png" />
                </div>
                <div class="card-content-header">
                    <div class="card-content-position">Software Developer</div>
                    <div class="card-content-company">Contoso Corporation</div>
                    <div class="card-content-period">February 2021 - August 2022</div>
                </div>
                <div class="card-content-description">
                    Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea
                    mazim
                    fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis
                    ea
                    eam.
                </div>
            </div>
        </div>
    </div>
</div>