.experience-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    column-gap: 15px;
    row-gap: 15px;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 968px) {
        flex-wrap: wrap;
    }

    .job-history {
        flex: 1 1 auto;
        position: relative;
        margin: 0 auto;

        &::after {
            content: '';
            position: absolute;
            width: 8px;
            top: 10px;
            bottom: 10px;
            left: 8%;
            margin-left: -4px;
        }

        .card {
            padding: 10px 40px;
            position: relative;
            background-color: inherit;
            max-width: 80%;
            left: 8%;
            box-sizing: border-box;

            &::before {
                content: " ";
                height: 0;
                position: absolute;
                top: 22px;
                width: 0;
                z-index: 1;
                border: medium solid white;
                left: 30px;
                border-width: 10px 10px 10px 0;
                border-color: transparent white transparent transparent;
            }

            &::after {
                content: '';
                position: absolute;
                width: 25px;
                height: 25px;
                left: -17px;
                background-color: white;
                border: 4px solid #FF9F55;
                top: 15px;
                border-radius: 50%;
                z-index: 1;
            }

            .card-content {
                padding: 20px 30px;
                background-color: white;
                position: relative;
                border-radius: 8px;

                .card-content-logo {
                    display: inline-block;
                    vertical-align: top;
                    width: 75px;

                    img {
                        width: 64px;
                    }
                }

                .card-content-header {
                    display: inline-block;
                    vertical-align: top;
                    width: auto;

                    .card-content-position {
                        font-size: 20px;
                        font-weight: bold;
                    }

                    .card-content-company {
                        font-size: 16px;
                    }

                    .card-content-period {
                        font-style: italic;
                    }
                }
            }
        }
    }

    .education-history {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .card {
            flex: 1 1 auto;
            padding: 10px 40px;
            max-width: 100%;
            box-sizing: border-box;

            .card-content {
                padding: 20px 30px;
                background-color: white;
                position: relative;
                border-radius: 8px;

                .card-content-logo {
                    display: inline-block;
                    vertical-align: top;
                    width: 75px;

                    img {
                        width: 64px;
                    }
                }

                .card-content-header {
                    display: inline-block;
                    vertical-align: top;
                    width: auto;

                    .card-content-position {
                        font-size: 20px;
                        font-weight: bold;
                    }

                    .card-content-company {
                        font-size: 16px;
                    }

                    .card-content-period {
                        font-style: italic;
                    }
                }
            }
        }
    }
}