<section class="experience-container">
  <section class="job-history">
    <div class="section-title">
      <mat-icon fontIcon="work_history" class="icon"></mat-icon>
      <span>{{localizationService.localize('experience')}}</span>
    </div>
    @for (company of workHistory; track company) {
      <div class="card">
        <div class="card-content">
          <div class="card-content-logo">
            <img src="../../assets/experience/logos/{{company.companyLogo}}" />
          </div>
          @if (company.positions.length === 1) {
            <div class="card-content-header">
              <div class="card-content-position"
              [innerHTML]="localizationService.localize(company.positions[0].title)"></div>
              <div class="card-content-company">{{company.company}} &bull;
                {{localizationService.localize(getStringRepresentationOfEmploymentTypeEnumValue(company.positions[0].employmentType))}}
              </div>
              <div class="card-content-period">{{company.positions[0].startDate |
                date:localizationService.dateFormat:'':localizationService.selectedLanguage.code}} -
                {{company.positions[0].endDate |
                date:localizationService.dateFormat:'':localizationService.selectedLanguage.code}}
                @if (!company.positions[0].endDate) {
                  <span>({{localizationService.localize('present')}})</span>
                }
                &bull;
                @if (calcYearsFloor(company.positions[0].startDate, company.positions[0].endDate) > 0) {
                  <span
                    >{{calcYearsFloor(company.positions[0].startDate,
                    company.positions[0].endDate)}} {{calcYearsFloor(company.positions[0].startDate,
                    company.positions[0].endDate) > 1 ? localizationService.localize('yrs') :
                  localizationService.localize('yr')}}&nbsp;</span>
                }
                @if (calcMonthsRound(company.positions[0].startDate, company.positions[0].endDate) > 0) {
                  <span
                    >{{calcMonthsRound(company.positions[0].startDate,
                    company.positions[0].endDate)}} {{calcMonthsRound(company.positions[0].startDate,
                    company.positions[0].endDate) > 1 ? localizationService.localize('mos') :
                  localizationService.localize('mo')}}</span>
                }
              </div>
            </div>
          }
          @if (company.positions.length > 1) {
            <div class="card-content-header">
              <div class="card-content-position">{{company.company}}</div>
              <div class="card-content-period">{{company.positions[company.positions.length - 1].startDate |
                date:localizationService.dateFormat:'':localizationService.selectedLanguage.code}} -
                {{company.positions[0].endDate |
                date:localizationService.dateFormat:'':localizationService.selectedLanguage.code}}
                @if (!company.positions[0].endDate) {
                  <span>({{localizationService.localize('present')}})</span>
                }
                &bull;
                @if (calcYearsFloor(company.positions[company.positions.length - 1].startDate, company.positions[0].endDate) > 0) {
                  <span
                    >{{calcYearsFloor(company.positions[company.positions.length
                    - 1].startDate, company.positions[0].endDate)}}
                    {{calcYearsFloor(company.positions[company.positions.length - 1].startDate,
                    company.positions[0].endDate) > 1 ? localizationService.localize('yrs') :
                  localizationService.localize('yr')}}&nbsp;</span>
                }
                @if (calcMonthsRound(company.positions[company.positions.length - 1].startDate, company.positions[0].endDate) > 0) {
                  <span
                    >{{calcMonthsRound(company.positions[company.positions.length
                    - 1].startDate, company.positions[0].endDate)}}
                    {{calcMonthsRound(company.positions[company.positions.length - 1].startDate,
                    company.positions[0].endDate) > 1 ? localizationService.localize('mos') :
                  localizationService.localize('mo')}}</span>
                }
              </div>
            </div>
          }
          @if (company.positions.length === 1) {
            <div class="card-content-description">
              <app-expandable-text [text]="localizationService.localize(company.positions[0].description || '')">
              </app-expandable-text>
            </div>
          }
          @if (company.positions.length > 1) {
            <div class="card-content-description">
              <div class="position-history">
                @for (pos of company.positions; track pos) {
                  <div class="position-card">
                    <div class="position-card-content">
                      <div class="position-card-content-header">
                        <div class="card-content-position" [innerHtml]="localizationService.localize(pos.title)"></div>
                        <div class="card-content-company">
                          {{localizationService.localize(getStringRepresentationOfEmploymentTypeEnumValue(pos.employmentType))}}
                        </div>
                        <div class="card-content-period">{{pos.startDate |
                          date:localizationService.dateFormat:'':localizationService.selectedLanguage.code}}
                          - {{pos.endDate |
                          date:localizationService.dateFormat:'':localizationService.selectedLanguage.code}}
                          @if (!pos.endDate) {
                            <span>({{localizationService.localize('present')}})</span>
                          }
                          &bull;
                          @if (calcYearsFloor(pos.startDate, pos.endDate) > 0) {
                            <span
                              >{{calcYearsFloor(pos.startDate,
                              pos.endDate)}} {{calcYearsFloor(pos.startDate, pos.endDate) > 1 ?
                              localizationService.localize('yrs') :
                            localizationService.localize('yr')}}&nbsp;</span>
                          }
                          @if (calcMonthsRound(pos.startDate, pos.endDate) > 0) {
                            <span
                              >{{calcMonthsRound(pos.startDate,
                              pos.endDate)}} {{calcMonthsRound(pos.startDate, pos.endDate) > 1 ?
                              localizationService.localize('mos') :
                            localizationService.localize('mo')}}</span>
                          }
                        </div>
                      </div>
                      <div class="position-card-content-description">
                        <app-expandable-text [text]="localizationService.localize(pos.description || '')">
                        </app-expandable-text>
                      </div>
                    </div>
                  </div>
                }
              </div>
            </div>
          }
        </div>
      </div>
    }
  </section>

  <section class="education-history">
    <div class="section-title">
      <mat-icon fontIcon="school" class="icon"></mat-icon>
      <span>{{localizationService.localize('education')}}</span>
    </div>
    @for (edu of educationHistory; track edu) {
      <div class="card">
        <div class="card-content">
          <div class="card-content-logo">
            <img src="../../assets/experience/logos/{{edu.schoolLogo}}" />
          </div>
          <div class="card-content-header">
            <div class="card-content-position">{{localizationService.localize(edu.school)}}</div>
            <div class="card-content-company">
              {{localizationService.localize(getStringRepresentationOfDegreeTypeEnumValue(edu.degreeType))}}
            &bull; {{localizationService.localize(edu.fieldOfStudy)}}</div>
            <div class="card-content-period">{{edu.startDate |
              date:localizationService.dateFormat:'':localizationService.selectedLanguage.code}} -
              {{edu.endDate |
            date:localizationService.dateFormat:'':localizationService.selectedLanguage.code}}</div>
          </div>
        </div>
      </div>
    }
  </section>
</section>