@use "sass:map";
@use "@angular/material" as mat;
@use "../../utils/styles/color-utils.scss" as color-utils;

@mixin color($color-config, $isDarkTheme: false) {

    $primary-palette: map.get($color-config, 'primary');
    $accent-palette: map.get($color-config, 'accent');
    $dark-background: #333333;
    $dark-nested-background: #494949;
    $light-background: #ffffff;
    $light-nested-background: #e8e8e8;

    .experience-container {
        @if $isDarkTheme {
            $background-color: mat.m2-get-color-from-palette($primary-palette, 200);
            background-color: $background-color;
            color: $dark-background
        }

        @else {
            $background-color: mat.m2-get-color-from-palette($primary-palette, 400);
            background-color: $background-color;
            color: $light-background;
        }

        @media print {
            background-color: white;
            $color: mat.m2-get-color-from-palette($primary-palette, darker);
            color: $color;

            .section-title {
                span {
                    border-bottom: solid 2px $color;
                }
            }
        }

        .job-history,
        .education-history {
            .card {
                @if $isDarkTheme {
                    background-color: $dark-background;
                    color: white;
                }

                @else {
                    background-color: $light-background;
                    color: black;
                }

                .card-content {
                    .card-content-description {
                        .position-card {
                            &::before {
                                @if($isDarkTheme){
                                    background-color: #888;
                                }
                                @else{
                                    background-color: #aaa;
                                }
                            }
                            &::after {
                                @if($isDarkTheme){
                                    background-color: #666;
                                }
                                @else{
                                    background-color: #ccc;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}

@mixin typography($typography-config) {
    .experience-container {
        font-family: mat.m2-font-family($typography-config);
    }
}

@mixin theme($theme, $isDarkTheme: false) {
    $color-config: mat.m2-get-color-config($theme);

    @if $color-config !=null {
        @include color($color-config, $isDarkTheme);
    }

    $typography-config: mat.m2-get-typography-config($theme);

    @if $typography-config !=null {
        @include typography($typography-config);
    }
}