@use "sass:map";
@use "@angular/material" as mat;
@use "../../utils/styles/color-utils.scss" as color-utils;

@mixin color($color-config, $isDarkTheme: false) {

    $primary-palette: map.get($color-config, 'primary');
    $accent-palette: map.get($color-config, 'accent');

    $job-card-color: darken(mat.m2-get-color-from-palette($primary-palette, 900), 17%);
    $job-card-border-color: mat.m2-get-color-from-palette($primary-palette, 100);
    $education-card-color: lighten(mat.m2-get-color-from-palette($accent-palette, 300), 5%);
    $education-card-border-color: mat.m2-get-color-from-palette($accent-palette, 400);
    $job-text-color: color-utils.get-text-color-on-background($job-card-color);
    $education-text-color: color-utils.get-text-color-on-background($education-card-color);

    @if $isDarkTheme {
        $job-card-color: darken(mat.m2-get-color-from-palette($primary-palette, 900), 26%);
        $job-card-border-color: lighten(mat.m2-get-color-from-palette($primary-palette, 100), 5%);
        $education-card-color: darken(mat.m2-get-color-from-palette($accent-palette, 800), 7%);
        $education-card-border-color: lighten(mat.m2-get-color-from-palette($accent-palette, 300), 5%);
        $job-text-color: color-utils.get-text-color-on-background($job-card-color);
        $education-text-color: color-utils.get-text-color-on-background($education-card-color);
    }


    .experience-container {
        @media print {
            color: black;
        }

        .job-history {
            .card {
                background: linear-gradient(180deg,
                        rgba(red($job-card-color),
                            green($job-card-color),
                            blue($job-card-color),
                            0.9),
                        rgba(red($job-card-color),
                            green($job-card-color),
                            blue($job-card-color),
                            0.85));
                border: 1px solid $job-card-border-color;
                color: $job-text-color;

                @media print {
                    color: black;
                    border: none;
                }

                .card-content {
                    .card-content-description {
                        .position-card {
                            &::before {
                                background-color: $job-card-border-color;
                            }

                            &::after {
                                background-color: $job-card-border-color;

                            }
                        }
                    }
                }
            }
        }

        .education-history {
            .card {
                background: linear-gradient(180deg,
                        rgba(red($education-card-color),
                            green($education-card-color),
                            blue($education-card-color),
                            0.85),
                        rgba(red($education-card-color),
                            green($education-card-color),
                            blue($education-card-color),
                            0.7));
                border: 1px solid $education-card-border-color;
                color: $education-text-color;

                @media print {
                    color: black;
                    border: none;
                }

                .card-content {
                    .card-content-description {
                        .position-card {
                            &::before {
                                background-color: $education-card-border-color;
                            }

                            &::after {
                                background-color: $education-card-border-color;

                            }
                        }
                    }
                }
            }
        }
    }

}

@mixin typography($typography-config) {
    .experience-container {
        font-family: mat.m2-font-family($typography-config);
    }
}

@mixin theme($theme, $isDarkTheme: false) {
    $color-config: mat.m2-get-color-config($theme);

    @if $color-config !=null {
        @include color($color-config, $isDarkTheme);
    }

    $typography-config: mat.m2-get-typography-config($theme);

    @if $typography-config !=null {
        @include typography($typography-config);
    }
}