.experience-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;

    .section-title {
        padding-left: 1em;
        display: flex;
        align-items: center;
        page-break-after: avoid;

        span {
            font-size: 4vmin;
            font-weight: bold;
            margin-left: .4em;

            @media print {
                font-size: 16px;
            }
        }
    }

    .job-history,
    .education-history {
        min-width: 30vmin;
        max-width: 90vmin;
        flex-basis: auto;
        flex-grow: 1;
        padding: 2em 1em;
        page-break-inside: avoid;


        @media print {
            width: 100% !important;
            padding: 5px 5px;
            margin: 10px 0px;
        }

        * {
            box-sizing: border-box;
        }

        .card {
            padding: .6em 1.9em;
            margin: .6em .4em;
            border-radius: .6em;
            page-break-inside: avoid;

            @media only screen {
                border: solid .06em #A3A3A3;
            }

            @media print {
                padding: 5px;
                margin: 2px 10px;
            }

            .card-content {

                .card-content-logo {
                    display: inline-block;
                    vertical-align: top;
                    width: 10vmin;

                    @media print {
                        width: 48px;
                    }

                    img {
                        width: 8vmin;
                        pointer-events: none;

                        @media print {
                            width: 42px;
                        }
                    }
                }

                .card-content-header,
                .position-card-content-header {
                    display: inline-block;
                    vertical-align: top;
                    width: auto;

                    .card-content-position {
                        font-size: 2.5vmin;
                        font-weight: bold;

                        @media print {
                            font-size: 14px;
                            line-height: 1.2;
                        }
                    }

                    .card-content-company {
                        font-size: 2vmin;

                        @media print {
                            font-size: 12px;
                            line-height: 1.1;
                        }
                    }

                    .card-content-period {
                        font-size: 2vmin;

                        font-style: italic;

                        @media print {
                            font-size: 10px;
                            line-height: 1.1;
                        }
                    }
                }

                .card-content-description {
                    text-align: justify;
                    font-size: 2vmin;

                    @media print {
                        font-size: 12px;
                        line-height: 1.1;
                    }

                    .position-card {
                        padding: 5px 20px;
                        margin: 5px 10px;
                        position: relative;

                        &::before {
                            content: ' ';
                            position: absolute;
                            width: .6em;
                            height: .6em;
                            border-radius: 50%;
                            left: 0px;
                            top: 10px;
                        }

                        &::after {
                            content: ' ';
                            position: absolute;
                            width: 0.12em;
                            height: calc(100% - 14px);
                            left: .24em;
                            top: 24px;
                            border-radius: 25%;
                        }

                        .position-card-content-description {
                            padding: 5px 0px;
                            text-align: justify;
                            margin-top: 1em;
                        }

                        &:last-of-type {
                            &::after {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}