<div class="cookie-dialog">
  <div mat-dialog-title class="dialog-title">
    <mat-icon class="icon">cookie</mat-icon>
    <h3 class="title">{{localizationService.localize('cookieBanner.title')}}</h3>
  </div>
  <mat-dialog-content class="dialog-content">
    <p>{{localizationService.localize('cookieBanner.subTitle')}}</p>
    <a mat-button [href]="privacyPolicyUrl"
      target="_blank">{{localizationService.localize('cookieBanner.readMore')}}</a>
    <h3 class="customize-section-title">{{localizationService.localize('cookieBanner.customize')}}</h3>
    <mat-accordion multi>
      @for (group of model | keyvalue; track group) {
      <mat-expansion-panel>
        <mat-expansion-panel-header class="group-header">
          <mat-panel-title>
            {{localizationService.localize(getStringRepresentationOfCookieCategoryEnumValue(group.key))}}
          </mat-panel-title>
          <mat-panel-description>
            <span class="spacer"></span>
            <span class="enabledIndicator">{{getEnabledCookiesIndicatorString(group.key)}}</span>
            <mat-slide-toggle [disabled]="getStringRepresentationOfCookieCategoryEnumValue(group.key) === 'Necessary'"
              [ngModel]="isAllEnabledInGroup(group.key)" (change)="toggleGroup(group.key)"
              (click)="$event.stopPropagation()"></mat-slide-toggle>
          </mat-panel-description>
        </mat-expansion-panel-header>
        @for (cookie of $any(group).value; track cookie) {
        <div class="cookie">
          <div class="cookie-name">
            {{localizationService.localize(cookie.name)}}
          </div>
          <div class="coockie-description">
            {{localizationService.localize(cookie.description)}}
          </div>
          <span class="spacer"></span>
          <mat-slide-toggle class="cookie-toggle" [disabled]="getStringRepresentationOfCookieCategoryEnumValue(group.key) === 'Necessary'"
            [(ngModel)]="cookie.isEnabled">
          </mat-slide-toggle>
        </div>
        }
      </mat-expansion-panel>
      }
    </mat-accordion>
  </mat-dialog-content>
  <mat-dialog-actions align="end" class="dialog-actions">
    <button mat-raised-button color="warn" (click)="rejectAll()"
      mat-dialog-close>{{localizationService.localize('cookieBanner.rejectAll')}}</button>
    <button mat-raised-button color="primary" (click)="savePreferences()"
      mat-dialog-close>{{localizationService.localize('cookieBanner.savePreferences')}}</button>
    <button mat-raised-button color="accent" (click)="acceptAll()"
      mat-dialog-close>{{localizationService.localize('cookieBanner.acceptAll')}}</button>
  </mat-dialog-actions>
</div>