.cookie-dialog {
    .dialog-title {
        margin-top: .3em;
        margin-bottom: 1em;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: .2em
    }

    .dialog-content {
        .customize-section-title {
            text-decoration: underline;
        }

        .group-header {
            .enabledIndicator {
                margin-left: 1em;
                margin-right: 1em;
            }

            .spacer {
                flex-grow: 1;
            }
        }

        .cookie {
            display: flex;
            flex-wrap: nowrap;
            margin-bottom: 1.1em;

            @media screen and (max-width: 720px) {
                flex-direction: column;
            }


            .cookie-name {
                font-weight: bold;
                white-space: nowrap;
                flex: 1;
                margin-right: 1em;
            }

            .cookie-description {
                margin-left: 1em;
                margin-right: 1em;
                flex: 2;
            }

            .spacer {
                flex-grow: 1;
            }

            .cookie-toogle {
                margin-left: 1em;
                align-self: flex-end;
            }
        }
    }

    .dialog-actions {
        @media screen and (max-width: 720px) {
            flex-direction: column;

            button{
                margin-bottom: 1em;
            }
        }
    }
}