@use "sass:map";
@use "sass:color";
@use "@angular/material" as mat;
@use "../../utils/styles/color-utils.scss" as color-utils;

@mixin color($color-config, $isDarkTheme: false) {
    $primary-palette: map.get($color-config, 'primary');
    $accent-palette: map.get($color-config, 'accent');
    $warn-palette: map.get($color-config, 'warn');

    $background-color: color.adjust(mat.m2-get-color-from-palette($warn-palette, 100), $lightness: 5%);
    $background-lines-color: mat.m2-get-color-from-palette($warn-palette, 400);
    $background-aura-color: mat.m2-get-color-from-palette($warn-palette, 100);
    $badge-color: mat.m2-get-color-from-palette($warn-palette, 500);
    $teminal-color: color.adjust(mat.m2-get-color-from-palette($primary-palette, 900), $lightness: -17%);
    $terminal-header-color: color.adjust(mat.m2-get-color-from-palette($primary-palette, 900), $lightness: -7%);
    $terminal-shadow-color: mat.m2-get-color-from-palette($primary-palette, 700);
    $command-line-color: mat.m2-get-color-from-palette($accent-palette, 400);
    $terminal-text-color: color-utils.get-text-color-on-background($teminal-color);
    $button-color: mat.m2-get-color-from-palette($accent-palette, 300);
    $badge-text-color: color-utils.get-text-color-on-background($badge-color);
    $color: color-utils.get-text-color-on-background($background-color);

    @if $isDarkTheme {
        $background-color: color.adjust(mat.m2-get-color-from-palette($warn-palette, 900), $lightness: -70%);
        $background-lines-color: mat.m2-get-color-from-palette($warn-palette, 300);
        $background-aura-color: color.adjust(mat.m2-get-color-from-palette($warn-palette, 900), $lightness: -30%);
        $badge-color: mat.m2-get-color-from-palette($warn-palette, 700);
        $badge-text-color: color-utils.get-text-color-on-background($badge-color);
        $terminal-header-color: color.adjust(mat.m2-get-color-from-palette($primary-palette, 900), $lightness: -20%);
        $terminal-shadow-color: color.adjust(mat.m2-get-color-from-palette($accent-palette, 100), $lightness: 15%);
        $command-line-color: mat.m2-get-color-from-palette($accent-palette, 500);
        $terminal-text-color: color-utils.get-text-color-on-background($teminal-color);
        $button-color: mat.m2-get-color-from-palette($accent-palette, 800);
        $badge-text-color: color-utils.get-text-color-on-background($badge-color);
        $color: color-utils.get-text-color-on-background($background-color);
    }

    .bg-not-found {
        background: radial-gradient(circle at center, $background-aura-color 0%, $background-color 100%);

        .bg-lines-not-found {
            background-image: repeating-linear-gradient(to right,
                    rgba(color.channel($background-lines-color, "red", $space: rgb),
                        color.channel($background-lines-color, "green", $space: rgb),
                        color.channel($background-lines-color, "blue", $space: rgb),
                        0.1) 0 0.3vmin,
                    transparent 0.1vmin 4vmin),
                repeating-linear-gradient(to bottom,
                    rgba(color.channel($background-lines-color, "red", $space: rgb),
                        color.channel($background-lines-color, "green", $space: rgb),
                        color.channel($background-lines-color, "blue", $space: rgb),
                        0.1) 0 0.3vmin,
                    transparent 0.1vmin 4vmin);
        }
    }

    .page-not-found-container {
        color: $color;
        .notification {
            .error-badge {
                background-color: $badge-color;
                color: $badge-text-color;
            }
        }

        .home-button{
            background-color: $button-color;
        }

        .terminal {
            background: linear-gradient(180deg,
                    rgba(color.channel($teminal-color, "red", $space: rgb),
                        color.channel($teminal-color, "green", $space: rgb),
                        color.channel($teminal-color, "blue", $space: rgb),
                        0.9),
                    rgba(color.channel($teminal-color, "red", $space: rgb),
                        color.channel($teminal-color, "green", $space: rgb),
                        color.channel($teminal-color, "blue", $space: rgb),
                        0.85));
            border: 1px solid $teminal-color;
            box-shadow: 0 14px 40px rgba(color.channel($teminal-color, "red", $space: rgb),
                    color.channel($teminal-color, "green", $space: rgb),
                    color.channel($teminal-color, "blue", $space: rgb),
                    0.55),
                inset 0 0 0 1px rgba(color.channel($terminal-shadow-color, "red", $space: rgb),
                    color.channel($terminal-shadow-color, "green", $space: rgb),
                    color.channel($terminal-shadow-color, "blue", $space: rgb),
                    0.05);
            color: $terminal-text-color;

            .terminal-header {
                background: linear-gradient(180deg, rgba(color.channel($terminal-header-color, "red", $space: rgb),
                            color.channel($terminal-header-color, "green", $space: rgb),
                            color.channel($terminal-header-color, "blue", $space: rgb),
                            0.85),
                        rgba(color.channel($terminal-header-color, "red", $space: rgb),
                            color.channel($terminal-header-color, "green", $space: rgb),
                            color.channel($terminal-header-color, "blue", $space: rgb),
                            0.80));
                border-bottom: .06em solid $teminal-color;

                .traffic {
                    .dot {
                        box-shadow: 0 0 .5em rgba(color.channel($teminal-color, "red", $space: rgb),
                                color.channel($teminal-color, "green", $space: rgb),
                                color.channel($teminal-color, "blue", $space: rgb),
                                0.25);

                        &.red {
                            background: #ff5f56;
                        }

                        &.yellow {
                            background: #ffbd2e;
                        }

                        &.green {
                            background: #27c93f;
                        }
                    }
                }
            }

            .terminal-body {
                .command-line {
                    .prompt-end {
                        color: $command-line-color;
                    }
                }
            }
        }
    }
}

@mixin typography($typography-config) {
    .app-navbar {
        font-family: mat.m2-font-family($typography-config);
    }
}

@mixin theme($theme, $isDarkTheme: false) {
    $color-config: mat.m2-get-color-config($theme);

    @if $color-config !=null {
        @include color($color-config, $isDarkTheme);
    }

    $typography-config: mat.m2-get-typography-config($theme);

    @if $typography-config !=null {
        @include typography($typography-config);
    }
}