<button mat-icon-button [matMenuTriggerFor]="themePicker" aria-label="Select theme" [matTooltip]="localizationService.localize('selectTheme')">
  <mat-icon>format_color_fill</mat-icon>
</button>
<mat-menu #themePicker="matMenu" xPosition="before">
  @for (theme of themeService.themes | filterPrivateThemes; track theme) {
    <button mat-menu-item (click)="onThemeSelected(theme)">
      @if (theme === themeService.selectedTheme) {
        <mat-icon color="accent">radio_button_checked</mat-icon>
      }
      @if (theme !== themeService.selectedTheme) {
        <mat-icon>radio_button_unchecked</mat-icon>
      }
      {{localizationService.localize(theme.name)}}
    </button>
  }
</mat-menu>