.menu-button{
    color: white;
    .menu-button-flag{
        vertical-align: middle;
    }
    .menu-button-text{
        margin-left: 5px;

        .menu-button-text-arrow{
            vertical-align: middle;
        }
    }
}

.menu-item-flag{
    vertical-align: middle;
}