.app-navbar {
    position: sticky;
    top:0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 8px 16px;
    z-index: 999;

    >.mat-button {
        &:hover{
            text-decoration: underline;
        };
        &:last-child {
            margin-left: auto;
        }
    }

    .flex-spacer {
        flex-grow: 1;
    }

    &.show-on-mobile{
        display: none;
        position: sticky;
        top: 56px;
    }
}

@media (max-width: 720px) {
    .navbar-link.hide-on-mobile {
        display: none;
    }
    
    .app-navbar{
        &.show-on-mobile {
            display: flex;
    
            .navbar-link {
                text-decoration: inherit;
                flex: 1;
            }
        }
    }
}