.app-navbar {
    @media print {
        display: none;
    }

    position: fixed;
    width: 99%;
    top: 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 8px 16px;
    z-index: 999;

    &.on-top{
        animation: fade-in-background 0.3s linear 0.2s forwards;;
    }

    >.mat-button {
        &:hover {
            text-decoration: underline;
        }

        ;

        &:last-child {
            margin-left: auto;
        }
    }

    .flex-spacer {
        flex: 1 1 auto;
    }

    >.show-on-mobile {
        display: none;
    }
}

.app-sidebar{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 8px 16px;
    height: 95%;

    @media print {
        display: none;
    }

    >.flex-spacer {
        flex: 1 1 auto;
    }


}

@media screen and (max-width: 720px) {
    .hide-on-mobile {
        display: none;
    }

    .app-navbar {
        >.show-on-mobile {
            display: inherit;
        }
    }
}