.app-footer {
    line-height: 1.5;

    a {
        text-decoration: none;
        cursor: pointer;
        color: #eee;

        &:hover {
            text-decoration: underline;
        }
    }

    .ft-main {
        padding: 0.75rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    
        .ft-main-item {
            min-width: 5rem;
            text-align: center;
    
            &.ft-contact {
                padding: 0px 8px;
    
                &:first-child {
                    padding-left: 0px !important;
                }
    
                &:last-child {
                    padding-right: 0px !important;
                }
            }
        }
    }
    
    .ft-legal {
        padding: 0.9375rem 1.875rem;
        background-color: #333;
        color: #fff;
    
        ul.ft-legal-list {
            list-style: none;
            padding-left: 0;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
    
            li {
                margin: 0.125rem 0.625rem;
                white-space: nowrap;
                line-height: 36px;
    
                &:nth-last-child(2) {
                    flex: 1;
                }
            }
    
        }
    }
}

