@use "sass:map";
@use "@angular/material" as mat;
@use "../../utils/styles/color-utils.scss" as color-utils;

@mixin color($color-config, $isDarkTheme: false) {

    $primary-palette: map.get($color-config, 'primary');
    $accent-palette: map.get($color-config, 'accent');
    $warn-palette: map.get($color-config, 'warn');

    $heading-color: darken(mat.m2-get-color-from-palette($primary-palette, 700), 5%);
    $background-color: lighten(mat.m2-get-color-from-palette($accent-palette, 100), 12%);
    $background-lines-color: mat.m2-get-color-from-palette($primary-palette, 600);
    $background-aura-color: lighten(mat.m2-get-color-from-palette($accent-palette, 100), 7%);
    $text-color: color-utils.get-text-color-on-background($background-color);
    $button-color: mat.m2-get-color-from-palette($accent-palette, 300);

    @if $isDarkTheme {
        $heading-color: mat.m2-get-color-from-palette($primary-palette, 100);
        $background-color: darken(mat.m2-get-color-from-palette($accent-palette, 900), 25%);
        $background-lines-color: mat.m2-get-color-from-palette($primary-palette, 200);
        $background-aura-color: darken(mat.m2-get-color-from-palette($accent-palette, 900), 20%);
        $text-color: color-utils.get-text-color-on-background($background-color);
        $button-color: mat.m2-get-color-from-palette($accent-palette, 800);
    }

    .bg {
        background: radial-gradient(circle at center, $background-aura-color 0%, $background-color 100%);

        .bg-lines {
            background-image: repeating-linear-gradient(to right,
                    rgba(red($background-lines-color),
                        green($background-lines-color),
                        blue($background-lines-color),
                        0.1) 0 0.3vmin,
                    transparent 0.1vmin 4vmin),
                repeating-linear-gradient(to bottom,
                    rgba(red($background-lines-color),
                        green($background-lines-color),
                        blue($background-lines-color),
                        0.1) 0 0.3vmin,
                    transparent 0.1vmin 4vmin);
        }
    }

    .banner-container {
        .left-col {
            .text-container {
                color: $heading-color;
                font-family: 'Roboto Mono', monospace;
            }

            .learn-more-button {
                background-color: $button-color;
            }
        }

        .right-col {
            .profile-picture {
                border: 0.4vw solid $heading-color;
                /* the thickness and color */
                --s: 5vw;
                -webkit-mask:
                    conic-gradient(at var(--s) var(--s), #0000 75%, #000 0) 0 0/calc(100% - var(--s)) calc(100% - var(--s)),
                    linear-gradient(#000 0 0) content-box;
            }
        }
    }


    @media print {
        .text-container {
            color: mat.m2-get-color-from-palette($primary-palette, darker);
        }
    }
}

@mixin typography($typography-config) {
    .banner-container {
        font-family: mat.m2-font-family($typography-config);
    }
}

@mixin theme($theme, $isDarkTheme: false) {
    $color-config: mat.m2-get-color-config($theme);

    @if $color-config !=null {
        @include color($color-config, $isDarkTheme);
    }

    $typography-config: mat.m2-get-typography-config($theme);

    @if $typography-config !=null {
        @include typography($typography-config);
    }
}