<div id="particles-js"></div>

<div class="banner-container">
    <div class="left-col">
        <div class="image-container">
            <img class="profile-picture" src="../../assets/profile_pic.jpg" />
        </div>
    </div>
    <div class="right-col">
        <div class="text-container">
            <p class="name"  [attr.glitch-text]="localizationService.localize('name')">{{localizationService.localize('name')}}</p>
            <p class="title" [attr.glitch-text]="localizationService.localize('profession')">{{localizationService.localize('profession')}}</p>
        </div>
    </div>
</div>