<div class="outer-container">
    <div class="inner-container">
        <div class="left-panel">
            <div class="bullet-point" matTooltip="Address">
                <mat-icon fontIcon="place" class="bullet-point-icon"></mat-icon>
                <span class="bullet-point-text">Budapest, Hungary</span>
            </div>
            <div class="bullet-point" matTooltip="Year of Birth">
                <mat-icon fontIcon="cake" class="bullet-point-icon"></mat-icon>
                <span class="bullet-point-text">1995</span>
            </div>
            <div class="bullet-point" matTooltip="Work experience">
                <mat-icon fontIcon="work_history" class="bullet-point-icon"></mat-icon>
                <span class="bullet-point-text">{{getExperienceInYears()}} years</span>
            </div>
        </div>
        <div class="right-panel">
            <div class="name">{{localizationService.localize('name')}}</div>
            <div class="functions">{{localizationService.localize('functionList')}}</div>
            <div class="quote-block">
                <div class="quote">
                    {{localizationService.localize('quote')}}
                </div>
                <div class="quotee">
                    - Martin Fowler
                </div>
            </div>
            <ul>
                <li>Lorem</li>
                <li>Ipsum</li>
                <li>Dolor</li>
                <li>Sit</li>
                <li>Amet</li>
                <li>Lorem</li>
                <li>Ipsum</li>
                <li>Dolor</li>
                <li>Sit</li>
                <li>Amet</li>
            </ul>
        </div>
    </div>
</div>