<div *ngIf="!!text">
    <span class="in-print">{{text}}</span>
    <span class="on-screen" *ngIf="!expanded && text.length <= 123">{{text}}</span>
    <span class="on-screen" *ngIf="!expanded && text.length > 123">{{text | slice:0:120}}... <a (click)="toggleExpandedState()">[{{localizationService.localize('seeMore')}}]</a></span>
    <span class="on-screen" *ngIf="expanded && text.length > 123">{{text}} <a (click)="toggleExpandedState()">[{{localizationService.localize('seeLess')}}]</a></span>
</div>